<!-- Begin Rockstar Speakers Section -->
<section id="rockstar-speakers" class="rockstar-speakers image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.rockstarSpeakersImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			<h3 id="rockstar-speaker-title">{{ site.rockstarSpeakersTitle }}</h3>
			{% assign RockStartAnimationDelay = 0 %} {% for i in (0..3) %}
			<div class="col-md-1.7142857 col-xs-3 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="{{ RockStartAnimationDelay }}">
				<div class="rockstar-speaker">
					<div class="flow-img img-circle rockstar-speaker-img" style="background-image: url( {{ site.baseurl }}/img/people/{{site.data.speakers.[i].thumbnailUrl}})"></div>
					<div class="name"> {{site.data.speakers[i].name}} {{site.data.speakers[i].surname}} </div>
					<div class="sub"> {{ site.data.speakers[i].company }} </div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
		{% assign RockStartAnimationDelay = 0 %}
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			{% for i in (4..6) %}
			<div class="col-md-1.7142857 col-xs-3 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="{{ RockStartAnimationDelay }}">
				<div class="rockstar-speaker">
					<div class="flow-img img-circle rockstar-speaker-img" style="background-image: url( {{ site.baseurl }}/img/people/{{site.data.speakers.[i].thumbnailUrl}})"></div>
					<div class="name"> {{site.data.speakers[i].name}} {{site.data.speakers[i].surname}} </div>
					<div class="sub"> {{ site.data.speakers[i].company }} </div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- End Rockstar Speakers Section -->