<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Coming Soon</h3>
            <h6 style="margin-bottom: 50px;">We will release a detailed schedule shortly after the registration deadline. </h6>
            <a style="margin-top:20px" href="{{ site.baseurl }}/programme/" class="btn btn-primary waves-effect waves-button waves-light waves-float">See the Programme</a>
        </div>
    </div>
</section>
<!-- End Schedule Section -->